{include ../common/head.html}
<div style="width:400px;height:200px;margin:50px auto;margin-top:200px;border:2px solid #F1AAF9;background:#F7CCA6;text-align:center;padding:10px;color:#AD857A">

	<div style="text-align:left;font-size:16px;font-weight:bold;">
    	{lang admin}{lang login}
    </div>
	<div style="line-height:4em;">
		<form action="index.php?m=index&a=submitlogin" method="post" submittype="ajax">
        	{lang username}:<input type="text" class="text" name="username" /><br />
            {lang password}:<input type="password" class="text" name="password" /><br />
            <input type="submit" class="button" value="{lang login}" />
            <input type="button" class="button" value="{lang switch}" onclick="tourl('index.php?m=index&a=guestlogin')" />
        </form>
	</div>
	<div style="text-align:right;">
    	<a href="javascript:history.go(-1);" style="color:#666;">{lang return}</a>
    	<a href="index.php" style="color:#666;">{lang home}</a>
    </div>



</div>
{include ../common/foot.html}