{include ../common/head.html}

{include menu.html}
<script language="javascript" src="{const.DIARY_ROOT_REF}lib/calendar/WdatePicker.js"></script>
<script language="javascript" src="lib/kindeditor/kindeditor.js"></script>
<script language="javascript" src="lib/kindeditor/lang/zh_CN.js"></script>

<div id="diary_title">{lang add}{lang diary}</div>

<div id="add_box">
<form action="{const.DIARY_ROOT_REF}index.php?m=diary&a=submitadd" method="post" submittype="ajax">
    <div class="clear">
        <div class="left">
        {lang datetime}:
        <input type="text" class="text" name="datetime" style="cursor:pointer;" readonly="readonly" onfocus="WdatePicker()" check="require" warning="{lang datetime_is_null}" value='{$today}'/>
        </div>
        <div type="status" class="left line2em"></div>
    </div>
    <div class="clear">
        <div class="left">
        <textarea name="content" style="width:600px;height:400px;"></textarea>
        </div>
        <div type="status" class="left line2em"></div>
    </div>
    <div class="clear">
		<input type="submit" class="button" value="{lang save}" onclick="editor.sync();" />
    </div>
</form>
</div>

<script language="javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="content"]', {
		resizeType : 1,
		allowPreviewEmoticons : false,
		allowImageUpload : false,
		items : [
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist', '|', 'emoticons', 'image', 'link']
	});
});

</script>


{include ../common/foot.html}