body{background-color:#6A6F83;background-image:url(images/bg_head.jpg);background-repeat:no-repeat;background-position:top left;font-family:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, 微软雅黑,宋体,sans-serif;}
a{color:#FFF;text-decoration:none;}
a:hover{text-decoration:underline;}

#menu{position:absolute;left:50px;top:180px;}
#menu li{padding:5px;}
#menu li a{font-size:20px;font-weight:bold;}

#year{position:absolute;left:110px;top:200px;color:#FFF;}
#year li{padding:2px 5px;font-size:16px;font-weight:bold;}
#year li.focus{border:1px solid #CCC;}

#month{position:absolute;left:190px;top:200px;}
#month li{padding:2px 5px;font-size:14px;font-weight:bold;}
#month li.focus{border:1px solid #CCC;}

#day{position:absolute;left:300px;top:130px;}
#day li{display:inline;padding:0 5px;}
#day li.focus{background:#B0B0B0;}

#diary_view{position:absolute;left:280px;top:200px;color:#FFF;margin-right:20px;}
#diary_view .datetime{font-weight:bold;line-height:2em;}
#diary_view .edittime{font-weight:bold;line-height:2em;}
#diary_view .operate{line-height:2em;}
#diary_view .operate a{color:#F00;}
#diary_view .content{line-height:2em;padding-bottom: 80px;}

#add_box{position:absolute;left:280px;top:180px;color:#FFF;}

#edit_box{position:absolute;left:280px;top:180px;color:#FFF;}

#diary_title{position:absolute;left:300px;top:130px;font-size:20px;font-weight:bold;color:#FFF;}

#empty_content{position:absolute;left:280px;top:180px;color:#FFF;}
#empty_content li a{text-decoration:none;}
#empty_content li.year{font-size:20px;font-weight:bold;float:left;padding:5px 10px;}
#empty_content li.year:hover{background:#CCC;}
#empty_content li.month{font-size:20px;font-weight:bold;float:left;padding:5px 10px;}
#empty_content li.month:hover{background:#CCC;}
#empty_content li.day{font-size:20px;font-weight:bold;float:left;padding:5px 10px;}
#empty_content li.day:hover{background:#CCC;}

#copyright{position:absolute;right:0;bottom:0;color:#CCC;}

#site_title{position:absolute;color:#FFF;top:50px;font-size:30px;font-weight:bold;right:30%;}
#site_description{position:absolute;color:#FFF;top:90px;font-size:14px;right:32%;}